@import url('https://fonts.googleapis.com/css2?family=Ephesis&family=Gowun+Dodum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ephesis&family=Gowun+Dodum&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 100vh;
    background: #000;
    overflow: hidden;
}
.container{
    position: fixed;
    top: 50px;
    right: 250px;
}
audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-panel {
  background-color: gray;
  color: gray;
}
.nav ul li a{
    position: absolute;
    top: 0;
    right: 100px;
    font-size:x-large;
    text-decoration: none;
    color: white;
  }
.text{
    position: fixed;
    color: white;
    top: 20px;
}
.text .engtext{
    position: relative;
    font-family: 'Ephesis', cursive;
    font-family: 'Gowun Dodum', sans-serif;
    font-size: 20px;
}
.text .kortext{
    position: relative;
    font-family: 'Ephesis', cursive;
    font-family: 'Gowun Dodum', sans-serif;
    font-size: 10px;
}
.home h1 a{
    position: fixed;
    top: 0;
    left: 10px;
    text-decoration: none;
    color: white;
}
.box{
    position: relative;
    height: 200px;
    width: 200px;
    transform-style: preserve-3d;
    animation: animate 25s linear infinite;
}
@keyframes animate{
    2%{
        transform: perspective(1500px) rotateY(0deg);
    }
    100%{
        transform: perspective(1500px) rotateY(180deg);
    }
}
.box div{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
    transform-origin: center;
    transform: rotateY(calc(var(--v) * 14deg)) translateZ(950px);
    -webkit-box-reflect: below 0px linear-gradient(transparent, transparent, #0004);
}
.box div img{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.spin{
    animation: spin 5.0s linear infinite;
}
@keyframes spin{
    0%{
        /* filter: hue-rotate(0deg); */
        transform: perspective(1000px) rotateY(0deg);
        -webkit-box-reflect: below 0px linear-gradient(transparent, transparent, #0004);
    }
    100%{
        /* filter: hue-rotate(360deg); */
        transform: perspective(1000px) rotateY(360deg);
        -webkit-box-reflect: below 0px linear-gradient(transparent, transparent, #0004);
    }
}

.time{
    position: fixed;
    bottom: 2%;
    font-family: 'Ephesis', cursive;
    font-family: 'Gowun Dodum', sans-serif;
    left: 40%;
    color: white;
    font-size: 10px;
}

